body{
    background-origin: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://s2.glbimg.com/-rhHPRQlPxXTa4_UrGuGI7oyVrg=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/p/p/pk34uwTR2kon0aBuVYwA/desktop-carmen-smooth-clean.jpg");
}