body{
    background-origin: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://s2.glbimg.com/-rhHPRQlPxXTa4_UrGuGI7oyVrg=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2019/p/p/pk34uwTR2kon0aBuVYwA/desktop-carmen-smooth-clean.jpg");
}

h1{
    text-align:center
    
}
h1{
    color: aliceblue
}

.form1{
    text-align:center

}
.form2{
    text-align:center;
    border: 4px solid;
}

h2{
    color: aliceblue;
}

.firstCamp{
    color: rgb(0, 255, 170)
}
.inputOne{
    color: rgb(0, 255, 170)
}
.secondCamp{
    color: rgb(0, 255, 170)
}
.inputTwo{
    color: rgb(0, 255, 170)
}

.chaveCod{
    color: aliceblue 
}

.alerta{
    color: aliceblue 

}

.btn1{
    width:100px;
    height:24px;
    background-color:whitesmoke;
    border-radius: 10px;
}
.inputBtn1{
    border-radius: 20px
   
}

.btn2{
    width:100px;
    height:24px;
    background-color:whitesmoke;
    border-radius: 10px;
}
.inputBtn2{
    border-radius: 20px
}
.offSet{
    border-radius: 20px
}